{% extends "base.html" %}
{% block page_title %}PASSWORD RESET - MILLENNIAL PINK{% endblock %}
{% block content %}

<div class="regcontainer">
     <div class="reg">
          <h3 class="pass">Reset your password</h3>  


<p class="aboutp">We've sent you an email to reset your password</p>
<p class="aboutp">If you don't get it, click <a class="boldcart" href="{% url 'password_reset' %}">here</a> to resend</p>
<p class="aboutp">Click <a class="boldcart" href="{% url 'login' %}">here</a> to return to the login page</p>

</div>
</div>



{% endblock %}