{% extends 'base.html' %}

{% load bootstrap_tags %}
{% load staticfiles %}


{% block content %}

<div class="crumbmenu">
	<ul class="breadcrumb">
		<li class="crumb"><a href="{% url 'index' %}">Home</a></li>
		<li class="crumb"><a href="{% url 'products' %}">Products</a></li>
		<li class="crumb"><a href="{% url 'cactus' %}">Cactus</a></li>
	</ul>
</div>

<div id="cardcontainer">
    <div class="row row-flex">
    {% for product in products %}
        <div class="col-xs-10 col-xs-offset-1 col-sm-offset-0 col-sm-6 col-md-4">
            <div class="card">
                <div class="product" alt="product image" style="background-image: url('{{ MEDIA_URL }}{{ product.image }}')"></div>
        
         <h3><a class="url" href="{% url 'product_detail' product.id %}">{{ product.name }}</a></h3>
        <!--<h3><a href="{{product.url}}"></h3>-->
        <!--<p class="product-description">{{ product.description }}</p>-->
        <p>€{{ product.price }}</p>
     
     <form method="post" action="{% url 'add_to_cart' product.id %}">
            {% csrf_token %}
            <div class="input-group">
                <input name="quantity" type="number" min="1" max="999" class="form-add" placeholder="Quantity">
                <span class="input-group-btn">
                    <button class="btn btn-success" type="submit">Add</button>
                </span>
            </div>
        </form> 
        
    </div>
    </div>
    {% endfor %}
   
    
</div>




{% endblock %}