{% extends 'base.html' %}

{% load bootstrap_tags %}
{% load staticfiles %}


{% block content %}

<div id="cardcontainer">
	<div><h2 class="new">Galaxies</h2><a class="new" href="galaxy">Shop here</a></div>
</div>

<div id="cardcontainer">
	<div class="card newin">
		<img class="newimage" src="{{MEDIA_URL}}images/d2.jpg">
	</div>
	<div class="card newin">
		<img class="newimage" src="images/summer.jpg">	
	</div>
	<div class="card newin">
		<img class="newimage" src="images/brunch.jpg">
	</div>	
</div>

<div id="cardcontainer">
	<div><h2 class="new">Mermaids</h2><a class="new" href="mermaids">Shop here</a></div>
</div>

<div id="cardcontainer">
	<div class="card newin">
		<img class="newimage" src="images/christmas.jpg">
	</div>
	<div class="card newin">
		<img class="newimage" src="images/summer.jpg">	
	</div>
	<div class="card newin">
		<img class="newimage "src="images/brunch.jpg">
	</div>	
</div>

<div id="cardcontainer">
	<div><h2 class="new">Dinosaurs</h2><a class="new" href="dinos">Shop here</a></div>
</div>

<div id="cardcontainer">
	<div class="card newin">
		<img class="newimage" src="images/christmas.jpg">
	</div>
	<div class="card newin">
		<img class="newimage" src="images/summer.jpg">	
	</div>
	<div class="card newin">
		<img class="newimage" src="images/brunch.jpg">
	</div>	
</div>




{% endblock %}