{% extends 'base.html' %}

{% load bootstrap_tags %}
{% load staticfiles %}


{% block content %}

<div id="cardcontainer">
	<div><h2 class="new">Galaxies</h2><a href="{% url 'galaxy' %}">Shop the full collection here</a></div>
</div>

<div id="cardcontainer">
	<div class="card newin">
		<img class="newimage" src="{{MEDIA_URL}}images/g3.jpg">
		<h2>{{ product.name }}</h2>
	</div>
	<div class="card newin">
		<img class="newimage" src="{{MEDIA_URL}}images/g4.jpg">
			<h2>{{ product.name }}</h2>
	</div>
	<div class="card newin">
		<img class="newimage" src="{{MEDIA_URL}}images/g5.jpg">
	</div>	
</div>

<div id="cardcontainer">
	<div><h2 class="new">Deer</h2><a href="{% url 'deer' %}">Shop the full collection here</a></div>
</div>

<div id="cardcontainer">
	<div class="card newin">
		<img class="newimage" src="{{MEDIA_URL}}images/d1.jpg">
	</div>
	<div class="card newin">
		<img class="newimage" src="{{MEDIA_URL}}images/d5.jpg">
	</div>
	<div class="card newin">
		<img class="newimage" src="{{MEDIA_URL}}images/d6.jpg">
	</div>	
</div>

<div id="cardcontainer">
	<div><h2 class="new">Palm Trees</h2><a href="{% url 'palmtrees' %}">Shop the full collection here</a></div>
</div>

<div id="cardcontainer">
	<div class="card newin">
		<img class="newimage" src="{{MEDIA_URL}}images/p3.jpg">
	</div>
	<div class="card newin">
		<img class="newimage" src="{{MEDIA_URL}}images/p2.jpg">
	</div>
	<div class="card newin">
		<img class="newimage" src="{{MEDIA_URL}}images/p4.jpg">
	</div>	
</div>




{% endblock %}