{% extends 'base.html' %}

{% load bootstrap_tags %}
{% load staticfiles %}


{% block content %}

<div id="cardcontainer">
	<div class="card new">
		<h2 class="card_head"><i class="fas fa-asterisk"></i>Sloths</h2>	
		<img class="card_image"src="images/christmas.jpg">
	</div>
			
	<div class="card summer">
		<img class="card_image "src="images/summer.jpg">	
	</div>

	<div class="card class">
		<img class="card_image "src="images/brunch.jpg">
	</div>	
</div>

<div id="cardcontainer">
	<div class="card new">
		<h2 class="card_head"><i class="fas fa-asterisk"></i>Mermaids</h2>	
		<img class="card_image"src="images/christmas.jpg">
	</div>
			
	<div class="card summer">
		<img class="card_image "src="images/summer.jpg">	
	</div>

	<div class="card class">
		<img class="card_image "src="images/brunch.jpg">
	</div>	
</div>

<div id="cardcontainer">
	<div class="card new">
		<h2 class="card_head"><i class="fas fa-asterisk"></i>Dinosaurs</h2>	
		<img class="card_image"src="images/christmas.jpg">
	</div>
			
	<div class="card summer">
		<img class="card_image "src="images/summer.jpg">	
	</div>

	<div class="card class">
		<img class="card_image "src="images/brunch.jpg">
	</div>	
</div>




{% endblock %}