{% extends 'base.html' %}
{% block content %}


<div class="crumbmenu">
	<ul class="breadcrumb">
		<li class="crumb"><a href="{% url 'index' %}">Home</a></li>
		<li class="crumb"><a href="{% url 'products' %}">Products</a></li>
		<li class="crumb"><a href="{{ product.category }}">{{ product.category }}</a></li>
		<li class="crumb">{{ product.name }}</li>
	</ul>
</div>
<div id="outer" class="productcontainer">
  
	<div class="row">
		<div class="col-md-4">						
			<div class="row">
				<div class="col-md-12">
		  			<img src="{{ MEDIA_URL}}{{ product.image }}" class ="imgtab" width="35%" onclick="imgFunction(this);">
		  			<img src="{{ MEDIA_URL}}{{ product.imagetwo }}" class ="imgtab" width="35%" onclick="imgFunction(this);">
		  			
		  		</div>
			</div>
	

			<div class="row">
				<div class="col-md-12">
		  			<h3>{{ product.name }}</h3>
  			<h3>€{{ product.price }}</h3>
  			<h3>{{ product.description }}</h3>
  			<form method="post" action="{% url 'add_to_cart' product.id %}">
            {% csrf_token %}
            <div class="input-group">
                <input name="quantity" type="number" min="1" max="999" class="form-control" placeholder="Quantity">
                <span class="input-group-btn">
                    <button class="btn btn-success" type="submit">Add to cart</button>
                </span>
            </div>
        </form> 
		  		</div>
			</div>
		</div>
	
	
		<div class="col-md-8">
  			<img src="{{ MEDIA_URL}}{{ product.image }}" id="expandedImg" style="width:80%">
  		</div>
	</div>
</div>


<script>
function imgFunction(imgs) {
    var expandImg = document.getElementById("expandedImg");
    expandImg.src = imgs.src;
    expandImg.parentElement.style.display = "block";
}
</script>

    
{% endblock %}


