{% extends 'base.html' %}
{% block content %}

<style>
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial;
}



/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* The expanding image container */
.container {
    position: relative;
    display: none;
}

</style>

<div id="outer" class="container-fluid">
  
	<div class="row">
		<div class="col-md-4">						
			<div class="row">
				<div class="col-md-12">
		  			<img src="{{ MEDIA_URL}}{{ product.image }}" width="25%" onclick="imgFunction(this);">
		  		</div>
			</div>
	

			<div class="row">
				<div class="col-md-12">
		  			<img src="{{ MEDIA_URL}}{{ product.imagetwo }}" width="25%" onclick="imgFunction(this);">
		  		</div>
			</div>
		</div>
	
	
		<div class="col-md-8">-->
  			<img id="expandedImg" style="width:60%">
  		</div>
	
	</div>


	<!--<div class="container">-->
 <!-- 	<span onclick="this.parentElement.style.display='none'" class="closebtn">&times;</span>-->
 <!-- 		<img id="expandedImg" style="width:100%">-->
 <!-- 			<div id="imgtext"></div>-->
	<!--</div>-->

   





<!--<div style="text-align:center">-->
<!--  <h2>Tabbed Image Gallery</h2>-->
<!--  <p>Click on the images below:</p>-->
<!--</div>-->

<!-- The four columns -->
<!--<div class="row">-->
<!--  <div class="column">-->
<!--    <img src="{{ MEDIA_URL}}{{ product.image }}" alt="one" style="width:50%" onclick="myFunction(this);">-->
<!--  </div>-->
<!--  <div class="column">-->
<!--    <img src="{{ MEDIA_URL}}{{ product.imagetwo }}" alt ="two" style="width:50%" onclick="myFunction(this);">-->
<!--  </div>-->
  
<!--</div>-->

<!--<div class="container">-->
<!--  <span onclick="this.parentElement.style.display='none'" class="closebtn">&times;</span>-->
<!--  <img id="expandedImg" style="width:100%">-->
<!--  <div id="imgtext"></div>-->
<!--</div>-->

<script>
function imgFunction(imgs) {
    var expandImg = document.getElementById("expandedImg");
    expandImg.src = imgs.src;
    expandImg.parentElement.style.display = "block";
}
</script>


<!--<div id="outer" class="container-fluid">-->
  
<!--<div class="row">-->
<!--	<div class="col-md-4">				
<!--		<div class="row">-->
<!--			<div class="col-md-12">-->
<!--			    <div class="imgone">-->
<!--		  <img src="{{ MEDIA_URL}}{{ product.image }}" onclick="imgFunction(this);">-->
<!--		  </div>-->
<!--			</div>-->
<!--		</div>-->

<!--	<div class="row">-->
<!--		<div class="col-md-12">-->
<!--           <div class="imgtwo">-->
<!--		  <img src="{{ MEDIA_URL}}{{ product.imagetwo }}" onclick="imgFunction(this);">-->
<!--		  </div>-->
<!--		</div>-->
<!--	</div>-->
<!--</div>	-->

<!--    <div class="col-md-8">-->
<!--        <span onclick="this.parentElement.style.display='none'" class="closebtn">&times;</span>-->
    <!--    <div class="imgone">-->
		  <!--<img src="{{ MEDIA_URL}}{{ product.image }}" onclick="imgFunction(this);">-->
		  <!--</div>-->
		  <!--<div class="imgtwo">-->
		  <!--     <img src="{{ MEDIA_URL}}{{ product.imagetwo }}" onclick="imgFunction(this);">-->
		  <!--</div>-->
<!--	</div>-->
<!--</div>-->

<!--   <div class="col-md-8">-->
<!--       <h3>{{ product.name}}</h3>-->
<!--            <p>{{ product.description }}</p>-->
<!--            <p>€{{ product.price }}</p>-->
	
<!--	</div>-->
<!--</div>-->
<!-- <script>-->
<!--     function imgFunction(imgs) {-->
<!--         var expandImg = document.getElementById("expandedImg");-->
<!--         expandImg.src = imgs.src;-->
<!--         expandImg.parentElement.style.display = "block";-->
<!--     }-->
<!-- </script>-->
    
{% endblock %}



           