{% extends 'base.html' %}
{% block content %}


<div class="crumbmenu">
	<ul class="breadcrumb">
		<li class="crumb"><a href="{% url 'index' %}">Home</a></li>
		<li class="crumb"><a href="{% url 'products' %}">Products</a></li>
		<li class="crumb">{{ product.name }}</li>
	</ul>
</div>




<div id="outer" class="productcontainer">
  
	<div class="row">
		
		<div class="col-md-6">
  			<img src="{{ MEDIA_URL}}{{ product.image }}" id="expandedImg" style="width:100%">
  		</div>
  		
		<div class="col-md-2">						
			<div class="row">
				<div class="col-md-12">
		  			<img src="{{ MEDIA_URL}}{{ product.image }}" class="img-responsive imgtab" width="50%" onclick="imgFunction(this);">
		  			<img src="{{ MEDIA_URL}}{{ product.imagetwo }}" class="img-responsive imgtab" width="50%" onclick="imgFunction(this);">
		  			
		  		</div>
			</div>
		</div>
		
		<div class="col-md-4">
			<div class="row">
				<div>
				<h3 class="name">{{ product.name }}</h3>
				<h3 class="info">{{ product.description }}</h3>
				<h3 class="info">A3 Matte Paper</h3>
  				<h3>€{{ product.price }}</h3>
  				
  				
  				{% for tag in tags %}
  				<li><a href="{% url 'tag' tag.slug %}">{{ tag.name }}</a></li>
  				{% empty %}
  				<li>no tags</li>
  				{% endfor %}
  		<!--{% for tag in product.tags.all %}-->
  		<!--<li><a href="#">{{ tag.name }}</a></li>-->
  		<!--{% if tag.name == blue %}-->
  		<!--<a href="{% url 'tag_blue' %}">blueee</a>-->
  		<!--{% else %}-->
  		<!--<a href="{% url 'products' %}">bleh</a>-->
  		<!--{% endif %}-->
  
  	
  		<!--{% endfor %}-->
  			
  			<form method="post" action="{% url 'add_to_cart' product.id %}">
            {% csrf_token %}
            <div class="input-group">
                <input name="quantity" type="number" min="1" max="999" class="form-add" placeholder="Add" required>
                </div>
                <div>
                <span class="input-group-btn">
                    <button class="btn btn-success" type="submit">Add to cart</button>
                </span>
                </div>
            </div>
        </form> 
				</div>
			</div>
		</div>
	
	
		
	</div>
</div>


<script>
function imgFunction(imgs) {
    var expandImg = document.getElementById("expandedImg");
    expandImg.src = imgs.src;
    expandImg.parentElement.style.display = "block";
}
</script>

    
{% endblock %}


