{% extends 'base.html' %}
{% load static from staticfiles %}
{% load bootstrap_tags %}



{% block content %}

<div id="cardcontainer">
<div class="row row-flex">
   
    {% for tag in products.tag.all %}
    <div class="col-xs-10 col-xs-offset-1 col-sm-offset-0 col-sm-6 col-md-4">
    <div class="card">
        <div class="product" style="background-image: url('{{ MEDIA_URL }}{{ product.image }}')"></div>
          
          <h3><a class="url" href="{% url 'product_detail' product.id %}">{{ product.name }}</a></h3>

        <p>€{{ product.price }}</p>
     

    </div>
    </div>
    </div>
    </div>
    {% endfor %}



{% endblock %}