{% extends 'base.html' %}

{% load staticfiles %}

{% block content %}

<h3>Posts tagged: {{tag}}</h3>



<div class="tagcontainer">
<div class="row row-flex">
    {% for product in products %}
    <div class="col-xs-10 col-xs-offset-1 col-sm-offset-0 col-sm-6 col-md-4">
    <div class="card">
        <div class="product" style="background-image: url('{{ MEDIA_URL }}{{ product.image }}')"></div>
          
          <h3><a class="url" href="{% url 'product_detail' product.id %}">{{ product.name }}</a></h3>

        <p>€{{ product.price }}</p>
    </div>
    </div>
{% endfor %}
</div>
</div>


{% endblock %}