{% extends 'base.html' %}
{% load static from staticfiles %}
{% load bootstrap_tags %}

{% block head_js %}
<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
<script type="text/javascript">
    //<![CDATA[
    Stripe.publishableKey = '{{ publishable }}';
    //]]>
</script>
<script type="text/javascript" src="{% static 'js/stripe.js' %}"></script>
{% endblock %}

{% block content %}

<div class="checkcontainer">
  <div class="row">
    <div class="col-md-12">
    <legend>Order Summary</legend>
    <p>You are purchasing {{ product_count }} products</p>
    <p>Total cost of order: €{{ total }}</p>
    </div>
  </div>

  <div class="col-md-12">
    <form autocomplete="on" role="form" method="post" id="payment-form" action="{% url 'checkout' %}">
      <legend>Payment Details</legend>
      <div id="credit-card-errors" style="display:none">
          <div class="alert-message block-message error" id="stripe-error-message"></div>
      </div>
      <div class="form-group col-md-6">
          {{ order_form | as_bootstrap }}
      </div>
      <div class="form-group col-md-6">
          {{ payment_form | as_bootstrap }}
      </div>
      {% csrf_token %}
      <div class="col-sm-10">
        <a href "{% url 'view_cart' %}" class="btn btn-goback" role="button"><span aria-hidden="true"></span><i class="fas fa-arrow-left"></i> Back To Cart</a>
      </div>
      <div class="form-group col-sm-2">
          <input class="btn btn-primary" id="submit_payment_btn" name="commit" type="submit" value="Pay Now">
      </div>
    </form>
  </div>
</div>
{% endblock %}