{% extends 'base.html' %}
{% load static from staticfiles %}
<!--{% load bootstrap_tags %}-->

{% block content %}

    <div class="demo-container">
        <div class="card-wrapper"></div>
<script src="{% static 'js/card.js' %}"></script>
        <div class="form-container active">
            <form action="">
                <input placeholder="Card number" type="tel" name="number">
                <input placeholder="Full name" type="text" name="name">
                <input placeholder="MM/YY" type="tel" name="expiry">
                <input placeholder="CVC" type="number" name="cvc">
            </form>
        </div>
    </div>


    <script>
var card = new Card({
    form: 'form',
    container: '.card-wrapper',

    formSelectors: {
        nameInput: 'input[name="first-name"], input[name="last-name"]'
    }
});
    </script>
    
    {% endblock %}
    
<!--{% csrf_token %}-->
<!--<div class="col-sm-10">-->
<!--      <a href="{% url 'view_cart' %}" class="btn btn-goback" role="button"><span aria-hidden="true"></span><i class="fas fa-arrow-left"></i> Back To Cart</a></div>-->
<!--<div class="form-group col-sm-2">-->
<!--    <input class="btn btn-primary" id="submit_payment_btn" name="commit" type="submit" value="Pay Now">-->
<!--</div>-->

<!--</form>-->
<!--</div>-->




