{% extends 'base.html' %}
{% load static from staticfiles %}
{% load bootstrap_tags %}

{% block head_js %}
<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
<script type="text/javascript">
    //<![CDATA[
    Stripe.publishableKey = '{{ publishable }}';
    //]]>
</script>
<script type="text/javascript" src="{% static 'js/stripe.js' %}"></script>
{% endblock %}

{% block content %}

<div class="checkcontainer">
    <legend><span class="ledge">Payment Details</span><span class="ledger">Order Summary</span></legend>
<!--    <div class="col-md-4">-->
<!--<table class="tablecheck table-bordered">-->
   
<!--        <tr>-->
<!--    {% for item in cart_items %}-->
<!--    <td><img class="checkimg" src="{{ MEDIA_URL }}{{ item.product.image }}"></td>-->
<!--    <td>{{item.quantity}}</td>-->
<!--    <td>€{{ item.product.price }}</td>-->
<!--    </tr>-->

<!--    {% endfor %}-->
        
<!--    <tr>-->
<!--        <td></td>-->
<!--        <td>TOTAL:</td>-->
<!--        <td>€{{ total }}</td>-->
<!--    </tr>-->
  
<!--</table>-->
<!--</div>-->
<!--<div class="row row-flex">-->
<!--    {% for item in cart_items %}-->
    
<!--    <div class="col-xs-10 col-xs-offset-1 col-sm-offset-0 col-sm-6 col-md-4 display panel panel-default">-->
<!--        <div class="panel-body">-->
<!--            <div class="product" style=="background-image: url(' {{ MEDIA_URL }}{{ item.product.image }}')"></div>-->
            
<!--            <div class="caption">-->
<!--                <h3>{{ item.product.name }}</h3>-->
<!--                <p class="product-description">{{ item.product.description }}</p>-->
<!--                <p>{{ item.quantity }}</p>-->
<!--                <p>{{ item.product.price }}</p>-->
<!--            </div>-->
<!--        </div>-->
        
<!--    </div>-->
<!--    {% endfor %}-->
<!--</div>-->
<!--<div class="row">-->
<!--    <p>Total</p>-->
<!--    <p><span class="glyphicon glyphicon-euro" aria-hidden="true"></span>{{ total }}</p>-->
<!--</div>-->
<div class="col-md-8">
<form role="form" method="post" id="payment-form" action="{% url 'checkout' %}">
<!--<legend>Payment Details</legend>-->
<div id="credit-card-errors" style="display: none">
    <div class="alert-messsage block-message error" id="stripe-error-message"></div>
</div>
<div class="form-group col-md-4">
    {{ order_form|as_bootstrap }}
</div>
<div class="form-group col-md-4">
    {{ payment_form|as_bootstrap }}
</div>
</div>

  <div class="col-md-4">
<!--<table class="tablecheck table-bordered">-->
   
<!--        <tr>-->
    {% for item in cart_items %}
    
 <div class="row"> <img class="checkimg" src="{{ MEDIA_URL }}{{ item.product.image }}"></div>
    <div class="row">{{item.quantity}}</div>
   <div class="row">€{{ item.product.price }}</div>
    

    {% endfor %}
        
   
     
      <div class="row">  TOTAL:
        €{{ total }}
        </div>
  
  
<!--</table>-->
</div>

{% csrf_token %}
<!--<div class="col-sm-10">-->
<!--      <a href="{% url 'products' %}" class="btn btn-goback" role="button"><span aria-hidden="true"></span><i class="fas fa-arrow-left"></i> Continue Shopping</a></div>-->
<!--<div class="form-group col-sm-2">-->
<!--    <input class="btn btn-primary" id="submit_payment_btn" name="commit" type="submit" value="Submit Payment">-->
<!--</div>-->

<!--</form>-->
</div>
{% endblock %}