{% extends 'base.html' %}
{% load static from staticfiles %}
{% load bootstrap_tags %}



{% block content %}

<div class="regcontainer">
     <div class="reg">
         
<h3 class="pass">Your order is confirmed!</h3>
<p>Thanks for ordering with Millennial Pink</p>
<p>Your order will now be sent to our warehouse for packing. We hope to ship it in 2-3 business days.</p>
<p>If you'd like to continue shopping, please click <a class="signin" href="{% url 'products' %}">here</a></p>

    </div>
    </div>


{% endblock %}