{% extends 'base.html' %}

{% block content %}

<div class="aboutcontainer">
    <div class="about">
        <h3 class="abname">About Us</h3>
        
        <br><br><br><br>
            <p><span class="moon">Millennial Pink</span>is Ireland's newest online source for high quality prints and artwork.</p>
            <p class="aboutp">We specialise in art that appeals to millennials and their interests, from <span class="moon">avocados</span> to <span class="moon">llamas</span> and everything in between.</p>
            <p class="aboutp">Millennial Pink specialises in prints photographed by <span class="moon">Irish photographers.</span></p>
            <p class="aboutp">We love to support <span class="moon">local talent</span> and are always looking for the next big thing.</p>
            <p class="aboutp">We also aim to add even more to our site in the next months, from <span class="moon">tote bags</span> to <span class="moon">resuable cups</span>.</p>
            <p class="aboutp">If you'd like to talk to us about getting your art or photos onto Millennial Pink, <a class="moonbold" href="{% url 'contact' %}">get in touch</a></p>
    </div>
</div>

{% endblock %}