{% extends 'base.html' %}



{% block content %}

<div class="aboutcontainer">
    
<div class="about">
    <h3 class="free">THIS MONTH ONLY -- FREE SHIPPING! </h3>

    <h3 class="abname">About Us</h3>
   
    <p class="aboutp">Millennial Pink is Ireland's newest online source for high quality prints and artwork.</p>
    <p class="aboutp">We specialise in art that appeals to millennials and their interests, from avocados to llamas and everything in between.</p>


    <h3 class="abname">Shipping</h3>
    <p class="aboutp">Currently we only ship within Ireland but hope to expand worldwide in the coming months.</p>
    <p class="aboutp">Shipping is a flat fare of €5 anywhere within Ireland.</p>
    <p class="aboutp">Your poster will be sent by An Post in a fully recyclable paper tube.</p>
</div>


</div>




{% endblock %}