{% extends 'base.html' %}
{% load staticfiles %}

{% block page_title %}CONTACT US - MILLENNIAL PINK{% endblock %}

{% block content %}

<div class="formcontainer">
	<div class="form">
		<h3 class="abname">Get in touch</h3>
			<fieldset class="cform">
				<form name ="myForm" id="contactForm" class="form-inline">
					<div class="form-group">
					<br>
					<label for="name" class="field">Full Name</label>
					<input class="forminput" type="text" placeholder="Full Name" id="name" name="name" required/>
						
					<label for="email" class="field">Email adddress</label>
					<input class="forminput" type="email" placeholder="name@domain.com" id="email" name="email" required/>
						
					<label for="comment" class="field">Your comments</label>
					<!--<input class="commsinput" type="text" placeholder="Your comments" id="comms" name="comments" maxlength="500" required/>-->
					<textarea type="text" class="commsinput" placeholder="Your comments" maxlength="500" required></textarea>
					<!--<button class="contactbtn" onclick="cformFunction()">Submit</button>-->
					<!--<input class="contactbtn" onclick="cformFunction()" type="submit" value="Submit"/>-->
					</div>
				</form>
					<button class="contactbtn" onclick="cformFunction()">Submit</button>
					<div id="hiddentxt">Thanks, we'll be in touch soon!</div>
			</fieldset>

				<h3 class="abname">Contact Details</h3><br>
				<p class="ship">Call us</p><p class="ship">01-8001234</p><br>
				<p class="ship">Email us</p><p class="ship"> <a href="mailto:info@millennialpink.com">info@millenialpink.com</a></p>
	</div>
</div>
<script src="{% static 'js/script.js' %}"></script> 

{% endblock %}