{% extends 'base.html' %}



{% block content %}

<div class="container-fluid">
	<div class="col-md-12">		
		<div class="form">
			<fieldset>
				<form name ="myForm" id="contactForm" method="get" class="form-inline">
					<div class="form-group">
					<p>Fill in the form and let us know your thoughts</p>
					<br>
					<label for="name" class="field">Full Name</label>
					<input type="text" placeholder="Name" id="name" name="name" required/>
						
					<label for="email" class="field">Email adddress</label>
					<input type="email" placeholder="name@domain.com" id="email" name="email" required/>
						
					<label for="comment" class="field">Your comments</label>
					<textarea type="text" placeholder="Your comments" id="comms" name="comments" maxlength="300" required></textarea>
					
						<br><br>
							<input type="submit" value="Submit"/>
							<br><br>
				</form>
			</fieldset>
		</div>

			<h3>Contact Details</h3>
			<br>
				<h2>Call us</h2><p>01-8001234 <br>or <br>087-1234567</p><br>
				<h2>Email us</h2><p> <a href="mailto:info@millennialpink.com">info@millenialpink.com</a></p>
	</div>	
</div>

<!--	<div class="card contact">-->
<!--		<div class="col-lg-12">-->
<!--			<p></p>-->
<!--			<h3>Contact Details</h3>-->
<!--			<br>-->
<!--				<h2>Call us</h2><p>021-7001234 <br>or <br>087-1234567</p><br>-->
		


{% endblock %}