{% extends 'base.html' %}

{% load bootstrap_tags %}
{% load staticfiles %}

{% block content %}



<div class="homecontainer">
	<div class="menucarousel">
		<div class="w3-content w3-section foodpics">
			<a href="{% url 'pink' %}"><img class="myPics img-responsive" alt="pink smoke" src="{% static 'images/pi1big.jpg' %}"></a>
			<a href="{% url 'deer' %}"><img class="myPics img-responsive" alt="wild deer" src="{% static 'images/d2big.jpg' %}"></a>
			<a href="{% url 'palmtrees' %}"><img class="myPics img-responsive" alt="palm tree" src="{% static 'images/p1big.jpg' %}"></a>
			<a href="{% url 'galaxy' %}"><img class="myPics img-responsive" alt="starry sky" src="{% static 'images/g1big.jpg' %}"></a>
		</div>
		<div class="imagetext">
			<p class="homepagetext">Millennial Pink</p>
			<p class="homepagetext">is the newest</p> 
			<p class="homepagetext">online destination</p> 
			<p class="homepagetext">for art for</p> 
			<p class="homepagetext">millennials</p>
			</div>
	
	</div>
</div>

<script src="{% static 'js/script.js' %}"></script>

{% endblock %}



