{% extends 'base.html' %}

{% load bootstrap_tags %}
{% load staticfiles %}


{% block content %}

<div id="container">
	<div class="menucarousel">
		<div class="w3-content w3-section foodpics">
			<img class="myPics" href="{% url 'pink' %}" src="{% static 'images/pi1big.jpg' %}">
			<img class="myPics" href="{% url 'deer' %}" src="{% static 'images/d2big.jpg' %}">
			<img class="myPics" href="{% url 'palmtrees' %}" src="{% static 'images/p1big.jpg' %}">
			<img class="myPics" href="{% url 'galaxy' %}" src="{% static 'images/g1big.jpg' %}">
			
		</div>
	</div>


  <script src="{% static 'js/script.js' %}"></script>

{% endblock %}