{% extends 'base.html' %}

{% load bootstrap_tags %}
{% load staticfiles %}

{% block content %}



<div class="homecontainer">
	<div class="menucarousel">
		<div class="w3-content w3-section foodpics">
			<div class="smoke">Curated Art For Millennials</div>
			<a href="{% url 'pink' %}"><img class="myPics img-responsive" src="{% static 'images/pi1big.jpg' %}"></a>
		</div>
		<div class="w3-content w3-section foodpics">
			<div class="deer">Art that appeals</div>
			<a href="{% url 'deer' %}"><img class="myPics img-responsive" src="{% static 'images/d2big.jpg' %}"></a>
		</div>	
		<div class="w3-content w3-section foodpics"></div>
			<div class="palmt">More text here
			<a href="{% url 'palmtrees' %}"><img class="myPics img-responsive" src="{% static 'images/p1big.jpg' %}"></a>
		</div>
		<div class="w3-content w3-section foodpics">
			<div class="galx">more more More text here</div>
			<a href="{% url 'galaxy' %}"><img class="myPics img-responsive" src="{% static 'images/g1big.jpg' %}"></a>
		</div>
	</div>
		<!--<div class="imagetext">-->
		<!--	<p class="moon">A curated art collection for</p>-->
		<!--	<p class="moon">MILLENNIALS</p> -->
			<!--<p class="moon"><span>A</span></p> <br>-->
			<!--<p class="moon"><span>CURATED</span></p><br> -->
			<!--<p class="moon"><span>ART</span></p>-->
			<!--<p class="moon"><span>COLLECTION</span></p>-->
			<!--<p class="moon"><span>for</span></p> <br>-->
			<!--<p class="loba"><span>the</span></p> <br>-->
			
			<!--<p class="loba"><span>in</span></p> <br>-->
			<!--<p class="loba"><span>your</span></p> <br>-->
			<!--<p class="loba"><span>life</span></p>-->
		<!--</div>-->
	
</div>

<!--<div id="container-fluid">-->
<!--	<div class="row">-->
<!--		<div class="col-12">-->
<!--			<div class="row">-->
	
<!--	<div>-->
<!--	<p>test containr</p>-->
<!--	<img src="{% static 'images/pi1big.jpg' %}">-->
<!--	</div>-->
<!--			</div>-->
<!--		</div>-->
<!--	</div>-->
<!--</div>-->


  <script src="{% static 'js/script.js' %}"></script>

{% endblock %}