{% extends 'base.html' %}

{% load bootstrap_tags %}

{% block page_title %}LOGIN - MILLENNIAL PINK{% endblock %}

{% block content %}

<div class="regcontainer">
     <div class="reg">
          <h3 class="loginto">Login to your account</h3>   
          
<!--Code below taken/adapted from lessons-->
<form class="logintoform" method="POST">
     {% csrf_token %}
     {{ login_form | as_bootstrap }}
     <button type="submit" class="btn btn-default">Login</button>
</form>


<p class="newto">New to Millennial Pink? Register <a class="boldlog" href="{% url 'registration' %}">here</a></p>

<p class="forgotp">Forgot your password? Click<a class="boldlog" href="{% url 'password_reset' %}"> here</a></p>
</div>
</div>
{% endblock %}
         