{% extends 'base.html' %}

{% block page_title %}{{ user }}'s Profile{% endblock %}

{% block page_heading %}{{ user }}'s Profile{% endblock %}

{% block content %}


  <a class="btn btn-logout" href="{% url 'logout' %}"><i class="fas fa-sign-out"></i>Logout</a>
<div class="profcontainer">
 
 {% if user.is_authenticated %}
 
<div class="col-md-2">
 
 <h3>User Details</h3>
 <p>Username: {{ user }}</p>
 <p>Account email address: {{ profile.email }}</p>    
 
</div>
           
              
<div class="col-md-10">
 <div class="profile">

 <h3>Welcome {{ user }}</h3>

<p>You currently have {{ product_count }} products in your cart</p>

<p>Would you like to?<p/>
 <a href="{% url 'products' %}">Shop products</a><br>

 <a href="{% url 'view_cart' %}">Go to your cart</a><br>

   <a href="{% url 'password_reset' %}">Change your password</a>

 
    {%  else %}
    <a href="{% url 'registration' %}"><i class="fas fa-user-plus"></i>Register Now</a>
          {% endif %}    
          
          </div>
</div>
</div>

{% endblock %}
