{% extends 'base.html' %}

{% block page_title %}{{ user }}'s Profile{% endblock %}

{% block page_heading %}{{ user }}'s Profile{% endblock %}

{% block content %}

<div class="container">

  <a class="btn btn-logout" href="{% url 'logout' %}"><i class="fas fa-sign-out"></i>Logout</a>
                
              
<div>
 {% if user.is_authenticated %}
 <h3>Welcome {{ user }}</h3>
</div> 
 <div>
 <a href="{% url 'products' %}">Start shopping now!</a>
 </div>
 <div>
   <a href="{% url 'password_reset' %}">Change your password</a></h3>  
   </div>
     <p>{{ profile.email }}</p>
    {%  else %}
    <a href="{% url 'registration' %}"><i class="fas fa-user-plus"></i>Register Now</a>
          {% endif %}    
</div>

{% endblock %}
