{% extends 'base.html' %}

{% block page_title %}{{ user }}'s Profile{% endblock %}

{% block page_heading %}{{ user }}'s Profile{% endblock %}

{% block content %}



<div class="profcontainer">
 
 {% if user.is_authenticated %}
 
<div class="col-md-4">
 
 <h3>Your Account Details</h3>
 <p>Username: {{ user }}</p>
 <p>Email address: {{ profile.email }}</p>  
   <a class="btn btn-logout" href="{% url 'logout' %}"><i class="fas fa-sign-out"></i>Logout</a>
 
</div>
           
              
<div class="col-md-8">
 <div class="profile">

 <h3>Welcome {{ user }}</h3>

<p>You currently have {{ product_count }} products in your cart</p><br>

<h3>Would you like to?</h3>
 {% if product_count == 0 %}
  <i class="fas fa-dot-circle"></i><a href="{% url 'products' %}"> Start shopping</a><br>
   <i class="fas fa-dot-circle"></i><a href="{% url 'password_reset' %}"> Change your password</a>
  {% else %}
   <i class="fas fa-dot-circle"></i><a href="{% url 'products' %}"> Continue shopping</a><br>
  <i class="fas fa-dot-circle"></i><a href="{% url 'view_cart' %}"> Go to your cart</a><br>
    <i class="fas fa-dot-circle"></i><a href="{% url 'password_reset' %}"> Change your password</a>
  {% endif %}


 
    {%  else %}
    <a href="{% url 'registration' %}"><i class="fas fa-user-plus"></i>Register Now</a>
          {% endif %}    
          
          </div>
</div>
</div>

{% endblock %}
