{% extends 'base.html' %}
{% block content %}

<div class="shipcontainer">
    <div class="shipping">
        <h3 class="abname">About Us</h3>
        
        <br><br>
            <p class="aboutp">Millennial Pink has a strict no return policy on all art prints.</p> 
            <p class="aboutp">However we will offer returns on our future stock.</p>
            <p class="aboutp">If you are still unhappy with your purchase, please <a class="signin" href="{% url 'contact' %}">get in touch</a></p>
            
    </div>
</div>

{% endblock %}