{% extends 'base.html' %}
{% block content %}

<div class="aboutcontainer">
    <div class="about">
        <h3 class="abname">About Us</h3>
        
        <br><br>
            <p>Millennial Pink has a strict no return policy on all art prints.</p> 
            <p>However we will offer returns on our future stock.</p>
            <p>If you are still unhappy with your purchase, please <a class="moonbold" href="{% url 'contact' %}">get in touch</a></p>
            
    </div>
</div>

{% endblock %}