{% extends 'base.html' %}

{% block content %}

<div class="shipcontainer">
    <div class="shipping">
        <h3 class="h3ship">THIS MONTH ONLY -- FREE SHIPPING! </h3>
        <h3 class="abname">Shipping</h3><br><br>
        <p class="ship">Currently we only ship within Ireland but hope to expand worldwide in the coming months.</p>
        <p class="ship">Shipping is a flat fare of €5 anywhere within Ireland.</p>
        <p class="ship">Your poster will be sent by An Post in a fully recyclable paper tube.</p>
    </div>
</div>
        
{% endblock %}