{% extends 'base.html' %}
{% block content %}

<div class="aboutcontainer">
    <div class="about">
        <h3 class="abname">Stockists</h3>
        
        <br><br>
            
            <p class="aboutp">In December, Millennial Pink will be doing a one off pop up shop in Dublin's Powerscourt centre.</p>
            <p class="aboutp">We will have a number of prints and new items which would make perfect Christmas gifts.</p>
            <p>Visit us on the 1st floor at unit 1-11.</p>
            <p>Open Hours:</p>
            <p>Mon-Sun 10am-6pm</p>

    </div>
</div>

{% endblock %}