{% extends 'base.html' %}

{% block page_title %}STOCKISTS - MILLENNIAL PINK{% endblock %}
{% block content %}

<div class="shipcontainer">
    <div class="shipping">
        <h3 class="abname">Stockists</h3>
        
        <br><br>
            
            <p class="aboutp">From December 3rd, Millennial Pink will be doing a one off pop up shop in Dublin's Powerscourt centre. We will have a number of prints and new items which would make perfect Christmas gifts.</p><br>
            <p class="aboutp">Visit us on the 1st floor at unit 1-11.</p><br>
            <p class="aboutp">Open Hours:</p>
            <p class="aboutp">Mon-Sun 10am-6pm</p>

    </div>
    
<div class="card map">
	<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d9528.233417143147!2d-6.2617683!3d53.3422116!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x8c8b8c1bae76d3ef!2sPowerscourt+Centre!5e0!3m2!1sen!2sie!4v1542030455546" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
	</div>    
</div>

{% endblock %}