{% extends 'base.html' %}
{% load static from staticfiles %}
{% load bootstrap_tags %}

{% block content %}

<div class="cartcontainer">
<table class="table table-bordered">
    <tr>
        <th></th>
        <th>Product</th>
        <th>Number of items</th>
        <th>Price per item</th>
        </tr>
        <tr>
    {% for item in cart_items %}
    <td><img class="cartimg" src="{{ MEDIA_URL }}{{ item.product.image }}"></td>
    <td><h3 class="h3cart">{{ item.product.name }}</h3><br>{{ item.product.description }}</td>
    <td><form class="form-inline" method="post" action="{% url 'adjust_cart' item.id %}">
                    {% csrf_token %}
                        <div class="form-group">
                            <h3 class="h3cart">Quantity:{{item.quantity}} </h3>
                            <label for="exampleInputAmount" class="sr-only">New qty</label>
                            <div class="input-group">
                                <!--<div class="input-group-addon">Qty</div>-->
                                <input name="quantity" type="number" min="0" max="999" class="form-control">
                                <!--<div class="input-group-addon">{{item.quantity}}</div>-->
                                <button type="submit" class="btn btn-primary" aria-hidden="true">Amend</button>
                            </div>
                        </div>
                        <!--<button type="submit" class="btn btn-primary" aria-hidden="true">Amend</button>-->
                </form>
                </td>
    <td><h3 class="h3cart">€{{ item.product.price }}</h3></td>
    </tr>

    {% endfor %}
        
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td><h3 class="h3cart">TOTAL: €{{ total }}</h3></td>
    </tr>
   
    
</table>



 
<div class="row cartbtns">
    <div class="col-sm-10">
      <a href="{% url 'products' %}" class="btn btn-goback" role="button"><span aria-hidden="true"></span><i class="fas fa-arrow-left"></i> Continue Shopping</a></div>
      <div class="col-sm-2">
      <a href="{% url 'checkout' %}" class="btn btn-proceed" role="button"><span aria-hidden="true"></span><i class="fas fa-shopping-cart"></i>
                 {% if product_count > 0 %}
                    <label class="badge badge-warning">{{ product_count }}</label>
                    {% endif %}<i class="fas fa-arrow-right"></i>
      Proceed to checkout</a></div>
    </div>
</div>

{% endblock %}